@font-face {
  src: url('../fonts/Abel/Abel-Regular.ttf');
  font-family: 'Abel';
}

@font-face {
  src: url('../fonts/Muli/Muli-Black.ttf');
  font-family: 'MuliBlack';
}

@font-face {
  src: url('../fonts/Muli/Muli-SemiBold.ttf');
  font-family: 'MuliSemiBold';
}

@font-face {
  src: url('../fonts/Muli/Muli-Light.ttf');
  font-family: 'MuliLight';
}

body,
html {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

* {
  outline: 0;
}

.padd-20 {
  padding: 20px;
}

.padd-top20 {
  padding-top: 20px;
}


.padd-top30 {
  padding-top: 30px;
}

.marg0 {
  margin: 0;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.bg-black {
  background-color: #000000;
}

header {
  display: block;
  min-height: 100px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.bold-style {
  font-family: 'MuliBlack';
}

.menu-nav ul li{
  display: inline-block;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
}

.menu-nav ul {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  padding: 0;
}

.hero-image {
  position: relative;
  background-image: url('../img/buildings1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.hero-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 146, 255, 0.7);
}

.hero-image .main-text {
  position: relative;
  left: 30%;
  top: 25%;
  z-index: 99;
  color: #FFFFFF;
  font-size: 26px;
  word-wrap: break-word;
  display: block;
}

.arrow-down {
  position: relative;
  max-width: 100%;
  animation: arrow-ani 1s alternate infinite ease-in-out;
}

@keyframes arrow-ani {
  0%{ top: -5px; }
  100%{  top: 3px; }
}

.main-img {
  background-image: url('../img/professional.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.form-block {
  background-color: #000;
  width: 640px;
  max-width: 100%;
  min-height: 350px;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-header {
  background-color: rgba(0, 146, 255, 1);
  color: #FFFFFF;
  padding: 10px;
}

.form-content {
  margin: 7% 0;
}

.custom-input {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: solid 2px #FFFFFF;
  width: 70%;
  padding-bottom: 5px;
  margin: 30px auto;
  font-size: 14px;
  font-family: 'MuliSemiBold';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.custom-input::placeholder {
  color: #FFFFFF;
}

.form-btn {
  width: 70%;
  height: 50px;
  text-align: center;
  border: none;
  margin: 20px 0;
  font-family: 'MuliLight';
  font-size: 20px;
}

.mobile-btn {
  width: 40px;
  height: 40px;
  border: solid 1px #fff;
  position: absolute;
  top: 10px;
  right: 0;
  display: none;
}

.mobile-btn span {
  width: 20px;
  height: 1px;
  display: block;
  border: none;
  border-top: solid 2px #fff;
  margin: auto;
}

.line-one {
  position: relative;
  top: 8px;
}

.line-two {
  position: relative;
  top: 15px;
}

.line-three {
  position: relative;
  top: 22px;
}

@media screen and (max-width: 1024px) {
  .menu-nav ul {
    justify-content: center;
  }

}

@media screen and (max-width: 768px) {
  .menu-nav  {
    display: none;
  }

  .menu-nav ul {
    flex-flow: column;
  }

  /*.mobile-btn {
    display: block;
  }*/

  .hero-image .main-text {
    left: 0;
  }
}
